{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Bits",
    "version": "0.1.0",
    "description": "Small, reliable utilities and datasets for AI agents.",
    "contact": {
      "url": "https://agentbits.dev"
    }
  },
  "servers": [
    {
      "url": "https://agentbits.dev",
      "description": "Canonical Agent Bits service"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "Service is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "name": {
                      "type": "string",
                      "example": "Agent Bits"
                    }
                  },
                  "required": [
                    "status",
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/datasets/countries/v1.json": {
      "get": {
        "operationId": "countries_bulk",
        "summary": "Retrieve the full versioned countries dataset used by Agent Bits country lookups. Use when an agent needs bulk offline country metadata rather than a single country lookup.",
        "tags": [
          "tool"
        ],
        "responses": {
          "200": {
            "description": "Successful capability response"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/v1/countries/{code}": {
      "get": {
        "operationId": "country_lookup",
        "summary": "Look up metadata for an ISO 3166-1 alpha-2 country code. Use this when an agent needs a country's name, currency, language, calling code, region, or related standardized country metadata.",
        "tags": [
          "tool"
        ],
        "responses": {
          "200": {
            "description": "Successful capability response"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "tool",
      "description": "Deterministic utilities and lookups"
    },
    {
      "name": "dataset",
      "description": "Curated static datasets"
    },
    {
      "name": "integration",
      "description": "External API integrations"
    }
  ]
}
